<%= form_for(@hospitalization) do |f| %>
  <% if @hospitalization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospitalization.errors.count, "error") %> prohibited this hospitalization from being saved:</h2>

      <ul>
      <% @hospitalization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.number_field :patient_id %>
  </div>

  <div class="field">
    <%= f.label :admission_date %><br>
    <%= f.date_select :admission_date %>
  </div>
  <div class="field">
    <%= f.label :current_days %><br>
    <%= f.number_field :current_days %>
  </div>
  <div class="field">
    <%= f.label :current_estimated_los %><br>
    <%= f.number_field :current_estimated_los %>
  </div>
  <div class="field">
    <%= f.label :current_estimated_discharge_date %><br>
    <%= f.date_select :current_estimated_discharge_date %>
  </div>
  <div class="field">
    <%= f.label :estimated_los_at_admission %><br>
    <%= f.number_field :estimated_los_at_admission %>
  </div>
  <div class="field">
    <%= f.label :estimated_discharge_date_at_admission %><br>
    <%= f.date_select :estimated_discharge_date_at_admission %>
  </div>
  <div class="field">
    <%= f.label :physician_estimate_discharge_date %><br>
    <%= f.date_select :physician_estimate_discharge_date %>
  </div>
  <div class="field">
    <%= f.label :age_at_admission %><br>
    <%= f.number_field :age_at_admission %>
  </div>
  <div class="field">
    <%= f.label :age_group_at_admission %><br>
    <%= f.text_field :age_group_at_admission %>
  </div>
  <div class="field">
    <%= f.label :most_responsible_diagnosis_at_admission %><br>
    <%= f.text_field :most_responsible_diagnosis_at_admission %>
  </div>
  <div class="field">
    <%= f.label :most_responsible_diagnosis_group_at_admission %><br>
    <%= f.text_field :most_responsible_diagnosis_group_at_admission %>
  </div>
  <div class="field">
    <%= f.label :admitting_program %><br>
    <%= f.text_field :admitting_program %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
