<h1>Listing hospitalizations</h1>

<table>
  <thead>
    <tr>
      <th>Admission date</th>
      <th>Current days</th>
      <th>Current estimated los</th>
      <th>Current estimated discharge date</th>
      <th>Estimated los at admission</th>
      <th>Estimated discharge date at admission</th>
      <th>Physician estimate discharge date</th>
      <th>Age at admission</th>
      <th>Age group at admission</th>
      <th>Most responsible diagnosis at admission</th>
      <th>Most responsible diagnosis group at admission</th>
      <th>Admitting program</th>
      <th>Patient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitalizations.each do |hospitalization| %>
      <tr>
        <td><%= hospitalization.admission_date %></td>
        <td><%= hospitalization.current_days %></td>
        <td><%= hospitalization.current_estimated_los %></td>
        <td><%= hospitalization.current_estimated_discharge_date %></td>
        <td><%= hospitalization.estimated_los_at_admission %></td>
        <td><%= hospitalization.estimated_discharge_date_at_admission %></td>
        <td><%= hospitalization.physician_estimate_discharge_date %></td>
        <td><%= hospitalization.age_at_admission %></td>
        <td><%= hospitalization.age_group_at_admission %></td>
        <td><%= hospitalization.most_responsible_diagnosis_at_admission %></td>
        <td><%= hospitalization.most_responsible_diagnosis_group_at_admission %></td>
        <td><%= hospitalization.admitting_program %></td>
        <td><%= hospitalization.patient_id %></td>
        <td><%= link_to 'Show', hospitalization %></td>
        <td><%= link_to 'Edit', edit_hospitalization_path(hospitalization) %></td>
        <td><%= link_to 'Destroy', hospitalization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hospitalization', new_hospitalization_path %>
