<p id="notice"><%= notice %></p>

<p>
  <strong>Admission date:</strong>
  <%= @hospitalization.admission_date %>
</p>

<p>
  <strong>Current days:</strong>
  <%= @hospitalization.current_days %>
</p>

<p>
  <strong>Current estimated los:</strong>
  <%= @hospitalization.current_estimated_los %>
</p>

<p>
  <strong>Current estimated discharge date:</strong>
  <%= @hospitalization.current_estimated_discharge_date %>
</p>

<p>
  <strong>Estimated los at admission:</strong>
  <%= @hospitalization.estimated_los_at_admission %>
</p>

<p>
  <strong>Estimated discharge date at admission:</strong>
  <%= @hospitalization.estimated_discharge_date_at_admission %>
</p>

<p>
  <strong>Physician estimate discharge date:</strong>
  <%= @hospitalization.physician_estimate_discharge_date %>
</p>

<p>
  <strong>Age at admission:</strong>
  <%= @hospitalization.age_at_admission %>
</p>

<p>
  <strong>Age group at admission:</strong>
  <%= @hospitalization.age_group_at_admission %>
</p>

<p>
  <strong>Most responsible diagnosis at admission:</strong>
  <%= @hospitalization.most_responsible_diagnosis_at_admission %>
</p>

<p>
  <strong>Most responsible diagnosis group at admission:</strong>
  <%= @hospitalization.most_responsible_diagnosis_group_at_admission %>
</p>

<p>
  <strong>Admitting program:</strong>
  <%= @hospitalization.admitting_program %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @hospitalization.patient_id %>
</p>

<%= link_to 'Edit', edit_hospitalization_path(@hospitalization) %> |
<%= link_to 'Back', hospitalizations_path %>
