<p id="notice"><%= notice %></p>

<p>
  <strong>Personal health number:</strong>
  <%= @patient.personal_health_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @patient.current_address %>
</p>

<p>
  <strong>Current telephone:</strong>
  <%= @patient.current_telephone %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
